<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Base Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}?v=4">
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <header>
       <h1> Welcome to Base Converter! </h1>
	   <h3> This web application converts numbers between different base systems. </h3>
    </header>
    <main>
      <div id="input-box">
        <a>Enter number:</a>
        <p> <input id="num" type="text" name="num" value=""> </p>
		
		<a>From base:</a>
        <p> <input id="from" type="text" name="from" value=""> </p>
		
		<a>To base:</a>
        <p> <input id="to" type="text" name="to" value=""> </p>
		  
		  <form action="/convert" method="post">
	        <p> <button id="calc-button" type="button" name="calc">Calculate</button> </p>
		  </form>
      </div>
    </main>
  </body>
</html>