<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Base Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}?v=6">
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <header>
       <h1> Welcome to Base Converter! </h1>
	   <h3> This web application converts numbers between different base systems. </h3>
    </header>
    <main>
      <div id="input-box">
        <form action="{{ url_for('convert') }}" method="post">
		  <label for="num">Enter Number:</label><br>
		  <input type="text" id="num" name="num" value="{{ num }}"><br>
		  <label for="from">From Base:</label><br>
		  <input type="text" id="from" name="from" value="{{ fromBase }}"><br>
		  <label for="to">To Base:</label><br>
		  <input type="text" id="to" name="to" value="{{ toBase }}"><br><br>
		  <input type="submit" value="Calculate">
		</form> 
      </div>
	  
	  <div id="result">
	    <form>
		  <br>
		  <label for="num">Result:</label><br>
		  <input type="text" id="num" name="num" value="{{ res }}"><br>
		</form> 
	  </div>
	  
	  <div id="error">
	    <p> {{ error }} </p>
	  </div>
    </main>
  </body>
</html>